<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- TemplateBeginEditable name="doctitle" -->
<title>Esports Prototype</title>
<!-- TemplateEndEditable -->
<link rel="shortcut icon" href="../img/favicon.ico">
<link rel="stylesheet" href="../css/site.css" type="text/css" />
<script type="text/javascript" src="../js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="../js/jquery-ui.js"></script>

<!-- TemplateBeginEditable name="Script" --><!-- TemplateEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>


<!-- TemplateBeginEditable name="BodyID" --><body id=""><!-- TemplateEndEditable -->
<div class="wrapper">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="topbar" align="center">
	<table width="100%" class="SiteTable" border="0" cellspacing="0" cellpadding="0">
	<tr>	
	<td width="30%" align="left"><a href="#" class="btn_topbar font_gray">OctaGame<img src="../img/ico_down.png" class="ico_arrow_down" border="0"/></a></td>
	<td align="center"><a href="#" class="btn_topbar font_red">Click & Play the Best 2017 Game Now!</a></td>
    <td align="right"><a href="#" class="btn_topbar font_gray" >
    	<span class="btn_topbar_right">Login<img src="../img/ico_down.png" class="ico_arrow_down" border="0"/></span>
        <span class="btn_topbar_right">Register</span>
        Forum<img src="../img/ico_down.png" class="ico_arrow_down" border="0"/>
        </a>
    </td>
	</tr>
	</table>	
</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="SiteTable" align="center">
<tr>
<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="Top_menu" align="center">
	<tr><td width="10%"><img src="../img/log_es.png" class="ico_logo"/></td>
    	<td valign="top">
        <ul class="menu">
        <li>NEWS</li>
        <li>MATCHES</li>
        <li>RANKINGS</li>
        <li>STREAMS</li>
        <li>REPLAYS</li>
        <li>VIDEOS</li>
        <li>SHOPS</li>
        <li>FORUM</li>
        </ul>
        </td>
        
        <td>
        	<div class="user_tbl">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
            	<td align="right" colspan="2">Xiao Wang</td>
                <td align="center" rowspan="2"><img src="../img/ico_user.png" border="0" class="ico_user"/></td>
            </tr>
            
            <tr>
            	<td align="right" colspan="2">Last Online : 9h ago</td>
            </tr>
            
            <tr><td align="left"><font class="font_level">Lv.</font>130</td>
            	<td align="center"><img src="../img/ico_diamond.png" border="0" /> 8823</td>
                <td align="right"><img src="../img/ico_shell.png" border="0" /> 3</td>
            </tr>
            </table>
            
            <div class="user_tbl_hover_wrapper">
            <div class="user_tbl_hover">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
                <tr><td>Recently Played</td></tr>
                <tr><td><img src="../img/ico_user_game.png" border="0"/></td></tr>
                <tr><td style="padding-left:5px;">Wang1980</td></tr>
                <tr><td style="padding-left:5px;">Lvl 30, 1471 Wins</td></tr>
                <tr><td style="padding-left:5px;">Last: Today 01:20</td></tr>
                <tr><td class="user_name"><img src="../img/ico_username.png" border="0" class="ico_username"/>Wang1980</td></tr>
                <tr><td><img src="../img/ico_ID.png" border="0" class="ico_id"/>901852305</td></tr>
                </table>
            </div>
            </div>
            </div>
            
            
            <div class="Daily_quests">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr><td colspan="3"><button class="btn_daily">Daily Quest</button></td></tr>
            </table>
            
             <div class="Daily_quests_hover_wrapper">	
             <div class="Daily_quests_hover">	
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="daily_header">
                <tr><td class="daily_title">DAILY QUESTS</td><td align="right" valign="top"><img src="../img/ico_close.png" border="0" /></td></tr>
                <tr><td class="daily_info" colspan="2">Perform Daily Quest and gain <img src="../img/ico_coin.png" border="0" class="ico_coin"/></td></tr>
                </table>
                
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="daily_content">
                <tr><td width="10%" valign="top"><img src="../img/ico_daily_login.png" border="0" /></td>
                	<td>Daily Login <br> <soan class="info">Login everyday to redeeem rewards.</span></td>
                    <td align="center" valign="top">10</td>
                    <td align="center" valign="top" width="10%"><img src="../img/ico_coin.png" border="0" class="ico_coin"/></td>
                </tr>
                <tr><td width="10%" valign="top"><img src="../img/ico_great_moment.png" border="0" /></td>
                	<td>Great Moment <br> <soan class="info">Share the great moment on your social apps.</span></td>
                    <td align="center" valign="top">8</td>
                    <td align="center" valign="top" width="10%"><img src="../img/ico_coin.png" border="0" class="ico_coin"/></td>
                </tr>
                <tr><td width="10%" valign="top"><img src="../img/ico_sharing.png" border="0" /></td>
                	<td>Sharing is Caring <br> <soan class="info">Send 5 buns to your friends.</span></td>
                    <td align="center" valign="top">10</td>
                    <td align="center" valign="top" width="10%"><img src="../img/ico_coin.png" border="0" class="ico_coin"/></td>
                </tr>
                </table>
            </div>
            </div>
            </div>
        </td>
    </tr>
    </table>
</td>    
</tr>
</table>
<!-- TemplateBeginEditable name="content" -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="SiteTable" align="center">
<tr>
<td>
	<div class="content">
    
    </div>
</td>
</tr>
</table>
<!-- TemplateEndEditable -->  	


<!-- TemplateBeginEditable name="bottom" -->
<!-- #BeginLibraryItem "/Library/footer.lbi" -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="SiteTable" align="center">
  <tr>
    <td class="footer_bg" ><ul class="footer_menu">
      <li class="first"><a href="#">Shop</a></li>
      <li><a href="#">The Crew</a></li>
      <li><a href="#">Work With Us</a></li>
      <li><a href="#">Advertise</a></li>
    </ul></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">Esports</a></li>
          <li><a href="#">E-sports Events</a></li>
          <li><a href="#">E-sports Matches</a></li>
          <li><a href="#">E-sports Rankings</a></li>
          <li><a href="#">E-sports Trading</a></li>
          <li><a href="#">E-sports Streams</a></li>
          <li><a href="#">E-sports Replays</a></li>
          <li><a href="#">E-sports VODs</a></li>
          <li><a href="#">E-sports Forums</a></li>
          <li><a href="#">E-sports Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">Dota 2</a></li>
          <li><a href="#">Dota 2 Events</a></li>
          <li><a href="#">Dota 2 Matches</a></li>
          <li><a href="#">Dota 2 Rankings</a></li>
          <li><a href="#">Dota 2 Stats</a></li>
          <li><a href="#">Dota 2 Trading</a></li>
          <li><a href="#">Dota 2 Items</a></li>
          <li><a href="#">Dota 2 Streams</a></li>
          <li><a href="#">Dota 2 VODs</a></li>
          <li><a href="#">Dota 2 Forums</a></li>
          <li><a href="#">Dota 2 Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">League of Legends</a></li>
          <li><a href="#">LoL Events</a></li>
          <li><a href="#">LoL Matches</a></li>
          <li><a href="#">LoL Rankings</a></li>
          <li><a href="#">LoL Stats</a></li>
          <li><a href="#">LoL Streams</a></li>
          <li><a href="#">LoL VODs</a></li>
          <li><a href="#">LoL Forums</a></li>
          <li><a href="#">LoL Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">Hearthstone</a></li>
          <li><a href="#">HS Events</a></li>
          <li><a href="#">HS Matches</a></li>
          <li><a href="#">HS Rankings</a></li>
          <li><a href="#">HS Stats</a></li>
          <li><a href="#">HS Streams</a></li>
          <li><a href="#">HS VODs</a></li>
          <li><a href="#">HS Cards</a></li>
          <li><a href="#">HS Decks</a></li>
          <li><a href="#">HS Deckbuilder</a></li>
          <li><a href="#">HS Forums</a></li>
          <li><a href="#">HS Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">Heroes of the Storm</a></li>
          <li><a href="#">Heroes Events</a></li>
          <li><a href="#">Heroes Matches</a></li>
          <li><a href="#">Heroes Rankings</a></li>
          <li><a href="#">Heroes Stats</a></li>
          <li><a href="#">Heroes VODs</a></li>
          <li><a href="#">Heroes Streams</a></li>
          <li><a href="#">Heroes Forums</a></li>
          <li><a href="#">Heroes Replays</a></li>
          <li><a href="#">Heroes Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">CS:GO</a></li>
          <li><a href="#">CS:GO Events</a></li>
          <li><a href="#">CS:GO Matches</a></li>
          <li><a href="#">CS:GO Rankings</a></li>
          <li><a href="#">CS:GO Items</a></li>
          <li><a href="#">CS:GO Trading</a></li>
          <li><a href="#">CS:GO Streams</a></li>
          <li><a href="#">CS:GO Demos</a></li>
          <li><a href="#">CS:GO VODs</a></li>
          <li><a href="#">CS:GO Forums</a></li>
          <li><a href="#">CS:GO Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">Overwatch</a></li>
          <li><a href="#">OW Events</a></li>
          <li><a href="#">OW Matches</a></li>
          <li><a href="#">OW Rankings</a></li>
          <li><a href="#">OW Streams</a></li>
          <li><a href="#">OW VODs</a></li>
          <li><a href="#">OW Forums</a></li>
          <li><a href="#">OW Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">StarCraft 2</a></li>
          <li><a href="#">SC2 Events</a></li>
          <li><a href="#">SC2 Matches</a></li>
          <li><a href="#">SC2 Rankings</a></li>
          <li><a href="#">SC2 Replays</a></li>
          <li><a href="#">SC2 Streams</a></li>
          <li><a href="#">SC2 VODs</a></li>
          <li><a href="#">SC2 Forums</a></li>
          <li><a href="#">SC2 Highlights</a></li>
        </ul></td>
        <td><ul class="footer_list">
          <li class="footer_title"><a href="#">Legacy</a></li>
          <li><a href="#">StarCraft</a></li>
          <li><a href="#">DotA</a></li>
          <li><a href="#">Warcraft 3</a></li>
          <li><a href="#">Diablo 3</a></li>
          <li><a href="#">WoW</a></li>
          <li><a href="#">HoN</a></li>
        </ul></td>
      </tr>
    </table></td>
  </tr>
</table>
<!-- #EndLibraryItem -->
<!-- TemplateEndEditable -->  

</div>

</body>
</html>

